header {
	padding-bottom: 100px;
	background-color: $fon-dark;
	padding-top: 58px;
}
.logo {
	display: block;
	width: 308px;
	height: 63px;
	background: $fon-dark url(../img/logo.svg) 0 0 no-repeat;
	background-size: contain;
	&-wrapper {
		display: flex;
		justify-content: left;
	}
}

.symbol {
	margin-top: 90px;
	text-align: center;
	img {
		width: 280px;
		height: 280px;
	}

}

.comment-form {
	margin-top: 38px;

	.form-left {
		display: flex;
		flex-direction: column;
	}

	label {
		font-weight: 500;
		font-size: 2.18rem;
		color: $font-light;
		letter-spacing: 32.5;
		margin-bottom: 25px;
		.aster {
			color: $acterisk-color;
			font-size: 50px;
		}
	}

	input {
		margin-right: 60px;
		font-size: 1.875rem;
		font-weight: 400;
		letter-spacing: 32.5;
		color: $font-light;
		line-height: 90px;
		padding-left: 30px;
		padding-right: 30px;
		border: 1px solid #4b4f53;
		border-radius: 10px;
		background-color: $fon-dark;
		&:active, &:focus {
			background-color: $fon-dark;
			border: 1px solid #743538;
		}
		&#name {
			margin-bottom: 46px;
		}
	}
	textarea {
		resize: none;
		width: 100%;
		height: 334px;
		background-color: transparent;
		border: 1px solid #4b4f53;
		border-radius: 10px;
		padding: 30px;
		font-size: 1.875rem;
		font-weight: 400;
		letter-spacing: 32.5;
		color: $font-light;
		margin-bottom: 106px;
		&:active, &:focus {
			border: 1px solid #743538;
		}			
	}

	button {
		background-color: $acterisk-color;
		color: #fff;
		font-weight: 700;
		font-size: 2.25rem;
		padding: 20px 35px;
		border: 1px solid transparent;
		border-radius: 10px;
		margin-right: 14px;
		transition: transform 0.3s;
		&:hover {
			transform: scale(1.1);
		}
	}

}
#nameHelp, #emailHelp, #commentHelp {
  color: #fff;
  font-size: 1.5rem;
  padding-left: 10px;
}
