$fon-dark: #2d3136;
$font-light: #d7d7d7;
$acterisk-color: #be393b;
$font-dark: #37414e;
$comment-title-odd: #4b596c;
$comment-title-even: #58ad52;
$comment-caption-odd: #e9eef3;
$comment-caption-even: #deebde;

